body {
    font-family: 'Be Vietnam', sans-serif;
    font-size: 1.5em;
}

h1 {
 font-weight: bold;
 text-decoration-line: underline;
  text-shadow: 2px 2px 4px #a6a6a6;
}


h2 {
    text-shadow: 2px 2px 4px #a6a6a6;
}

input[type="text"] {
    font-size: 1em;
    height: 1.5vh;
    width: 30vw;
    padding: 1%;
}

.task-container {
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;
    margin: 3%;
}
